<app-home></app-home>
<div class="titulo" *ngIf="!loading">
    <h1>Estamos carregando a lista de presentes... Aguarde um momento !!</h1>
</div>
<div class="titulo" *ngIf="!loading"> 
    <mat-spinner>Teste</mat-spinner>
</div>

<div class="titulo" *ngIf="loading">
    <h1>Escolha um presente abaixo !</h1>    
</div>
<mat-grid-list cols="1" rowHeight="2:1" class="container" *ngIf="loading">   
    
    <mat-grid-tile *ngFor="let item of itens" class="grid-card">  
        <mat-card class="card-imagens">
            <span class="titulo-card">{{item.nome | uppercase}}</span>
            <mat-card-content class="imagens" routerLink="formulario/{{item.id}}">
                <img src={{item.imagem}} alt="Minha Figura">
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>     
</mat-grid-list>

<router-outlet></router-outlet>
