.imagens {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

img {   
    width: 60%; 
}

.card-imagens {
    display:flex;
    align-items: center;
}

.titulo-card {
    margin-top: 8px; 
}

mat-card{
    margin-top: 20px;
    width: 60%;
}

.titulo {
 display: flex;
 justify-content: center;   
}

body {
    background-color: black;
}